body {
  background-color: #7b5a77
}

.container {
  margin: 0 auto;
  background-color: #FB82FF;
  width: 600px;
  box-shadow: 5px 5px 25px black;
  border-radius: 10px;
}
h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid black
}
p {
  text-align: justify;
  padding: 0 20px 20px;
  font-size: 18px;
  
}